
#logo {
    height: 40px;
    margin: 5px;
    float: left;
}

.az-address {
    font-size: 2.0em;
    font-weight: 200;
}

body {
    background-color: #57c488;
}

.navbar-inverse {
    background-color: #8a55b4;
    border-color: #ffffff;
}

nav li {
    display: inline;
    float: left;
    width: 20%;
    text-align: center;
    border: thin solid #000;
}
